In [369]:
#import libraries
import pandas as pd
import numpy as np

In [326]:
# Load the dataset
data = pd.read_csv("C:\\Users\\dheni\\Downloads\\DS Assignments\\12.EDA2\\adult_with_headers.csv")
data

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [328]:
#summary statistics
data.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [330]:
#datatypes
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [332]:
# Check for missing values
data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [334]:
#import library
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [336]:
# Select numerical features
numerical_features = data.select_dtypes(include=['int64', 'float64']).columns
numerical_features

Index(['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss',
       'hours_per_week'],
      dtype='object')

In [338]:
# Standard Scaling
standard_scaler = StandardScaler()
stand_data=data[numerical_features] = (standard_scaler.fit_transform(data[numerical_features]))
stand_data

array([[ 0.03067056, -1.06361075,  1.13473876,  0.1484529 , -0.21665953,
        -0.03542945],
       [ 0.83710898, -1.008707  ,  1.13473876, -0.14592048, -0.21665953,
        -2.22215312],
       [-0.04264203,  0.2450785 , -0.42005962, -0.14592048, -0.21665953,
        -0.03542945],
       ...,
       [ 1.42360965, -0.35877741, -0.42005962, -0.14592048, -0.21665953,
        -0.03542945],
       [-1.21564337,  0.11095988, -0.42005962, -0.14592048, -0.21665953,
        -1.65522476],
       [ 0.98373415,  0.92989258, -0.42005962,  1.88842434, -0.21665953,
        -0.03542945]])

In [340]:
# Min-Max Scaling
minmax_scaler = MinMaxScaler()
min_max_data=data[numerical_features] = (minmax_scaler.fit_transform(data[numerical_features]))
min_max_data

array([[0.30136986, 0.0443019 , 0.8       , 0.02174022, 0.        ,
        0.39795918],
       [0.45205479, 0.0482376 , 0.8       , 0.        , 0.        ,
        0.12244898],
       [0.28767123, 0.13811345, 0.53333333, 0.        , 0.        ,
        0.39795918],
       ...,
       [0.56164384, 0.09482688, 0.53333333, 0.        , 0.        ,
        0.39795918],
       [0.06849315, 0.12849934, 0.53333333, 0.        , 0.        ,
        0.19387755],
       [0.47945205, 0.18720338, 0.53333333, 0.1502415 , 0.        ,
        0.39795918]])

Standard Scaling: Centers the data around zero with a unit variance. Preferred when the data follows a Gaussian distribution.

Min-Max Scaling: Scales data to a range of [0,1]. Useful when features have different ranges and no Gaussian distribution.

In [342]:
#One-Hot Encoding for categorical variables with less than 5 categories
data = pd.get_dummies(data, columns=['marital_status','relationship','race','sex'], drop_first=True)
data

,age,workclass,fnlwgt,education,education_num,occupation,capital_gain,capital_loss,hours_per_week,native_country,...,relationship_ Not-in-family,relationship_ Other-relative,relationship_ Own-child,relationship_ Unmarried,relationship_ Wife,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Male
0,0.301370,State-gov,0.044302,Bachelors,0.800000,Adm-clerical,0.021740,0.0,0.397959,United-States,...,True,False,False,False,False,False,False,False,True,True
1,0.452055,Self-emp-not-inc,0.048238,Bachelors,0.800000,Exec-managerial,0.000000,0.0,0.122449,United-States,...,False,False,False,False,False,False,False,False,True,True
2,0.287671,Private,0.138113,HS-grad,0.533333,Handlers-cleaners,0.000000,0.0,0.397959,United-States,...,True,False,False,False,False,False,False,False,True,True
3,0.493151,Private,0.151068,11th,0.400000,Handlers-cleaners,0.000000,0.0,0.397959,United-States,...,False,False,False,False,False,False,True,False,False,True
4,0.150685,Private,0.221488,Bachelors,0.800000,Prof-specialty,0.000000,0.0,0.397959,Cuba,...,False,False,False,False,True,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,Private,0.166404,Assoc-acdm,0.733333,Tech-support,0.000000,0.0,0.377551,United-States,...,False,False,False,False,True,False,False,False,True,False
32557,0.315068,Private,0.096500,HS-grad,0.533333,Machine-op-inspct,0.000000,0.0,0.397959,United-States,...,False,False,False,False,False,False,False,False,True,True
32558,0.561644,Private,0.094827,HS-grad,0.533333,Adm-clerical,0.000000,0.0,0.397959,United-States,...,False,False,False,True,False,False,False,False,True,False
32559,0.068493,Private,0.128499,HS-grad,0.533333,Adm-clerical,0.000000,0.0,0.193878,United-States,...,False,False,True,False,False,False,False,False,True,True
32560,0.479452,Self-emp-inc,0.187203,HS-grad,0.533333,Exec-managerial,0.150242,0.0,0.397959,United-States,...,False,False,False,False,True,False,False,False,True,False

In [344]:
#import library
from sklearn.preprocessing import LabelEncoder

In [346]:
#label-encoding for categorical variables with more than 5 categories
label_encoder = LabelEncoder()
data['workclass'] = label_encoder.fit_transform(data['workclass'])
data['education'] = label_encoder.fit_transform(data['education'])
data['occupation'] = label_encoder.fit_transform(data['occupation'])
data['native_country'] = label_encoder.fit_transform(data['native_country'])
data

,age,workclass,fnlwgt,education,education_num,occupation,capital_gain,capital_loss,hours_per_week,native_country,...,relationship_ Not-in-family,relationship_ Other-relative,relationship_ Own-child,relationship_ Unmarried,relationship_ Wife,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Male
0,0.301370,7,0.044302,9,0.800000,1,0.021740,0.0,0.397959,39,...,True,False,False,False,False,False,False,False,True,True
1,0.452055,6,0.048238,9,0.800000,4,0.000000,0.0,0.122449,39,...,False,False,False,False,False,False,False,False,True,True
2,0.287671,4,0.138113,11,0.533333,6,0.000000,0.0,0.397959,39,...,True,False,False,False,False,False,False,False,True,True
3,0.493151,4,0.151068,1,0.400000,6,0.000000,0.0,0.397959,39,...,False,False,False,False,False,False,True,False,False,True
4,0.150685,4,0.221488,9,0.800000,10,0.000000,0.0,0.397959,5,...,False,False,False,False,True,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,4,0.166404,7,0.733333,13,0.000000,0.0,0.377551,39,...,False,False,False,False,True,False,False,False,True,False
32557,0.315068,4,0.096500,11,0.533333,7,0.000000,0.0,0.397959,39,...,False,False,False,False,False,False,False,False,True,True
32558,0.561644,4,0.094827,11,0.533333,1,0.000000,0.0,0.397959,39,...,False,False,False,True,False,False,False,False,True,False
32559,0.068493,4,0.128499,11,0.533333,1,0.000000,0.0,0.193878,39,...,False,False,True,False,False,False,False,False,True,True
32560,0.479452,5,0.187203,11,0.533333,4,0.150242,0.0,0.397959,39,...,False,False,False,False,True,False,False,False,True,False

Pros and Cons:

One-Hot Encoding:

Pros: No ordinal relationship assumed, suitable for algorithms that cannot handle categorical data.

Cons: Increases dimensionality, can lead to sparse matrices.

Label Encoding:

Pros: Simple, does not increase dimensionality.

Cons: Assumes ordinal relationship, which may not be appropriate for all categorical data.

In [348]:
#least 2 new features that could be beneficial for the model
data['age_group'] = pd.cut(data['age'], bins=[0, 25, 50, 100], labels=['Young', 'Middle-aged', 'Senior'])
data['income_bracket'] = (data['income'] == '>50K').astype(int)
data

,age,workclass,fnlwgt,education,education_num,occupation,capital_gain,capital_loss,hours_per_week,native_country,...,relationship_ Own-child,relationship_ Unmarried,relationship_ Wife,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Male,age_group,income_bracket
0,0.301370,7,0.044302,9,0.800000,1,0.021740,0.0,0.397959,39,...,False,False,False,False,False,False,True,True,Young,0
1,0.452055,6,0.048238,9,0.800000,4,0.000000,0.0,0.122449,39,...,False,False,False,False,False,False,True,True,Young,0
2,0.287671,4,0.138113,11,0.533333,6,0.000000,0.0,0.397959,39,...,False,False,False,False,False,False,True,True,Young,0
3,0.493151,4,0.151068,1,0.400000,6,0.000000,0.0,0.397959,39,...,False,False,False,False,True,False,False,True,Young,0
4,0.150685,4,0.221488,9,0.800000,10,0.000000,0.0,0.397959,5,...,False,False,True,False,True,False,False,False,Young,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,4,0.166404,7,0.733333,13,0.000000,0.0,0.377551,39,...,False,False,True,False,False,False,True,False,Young,0
32557,0.315068,4,0.096500,11,0.533333,7,0.000000,0.0,0.397959,39,...,False,False,False,False,False,False,True,True,Young,0
32558,0.561644,4,0.094827,11,0.533333,1,0.000000,0.0,0.397959,39,...,False,True,False,False,False,False,True,False,Young,0
32559,0.068493,4,0.128499,11,0.533333,1,0.000000,0.0,0.193878,39,...,True,False,False,False,False,False,True,True,Young,0
32560,0.479452,5,0.187203,11,0.533333,4,0.150242,0.0,0.397959,39,...,False,False,True,False,False,False,True,False,Young,0

Age Groups

Rationale: Helps the model capture non-linear relationships.

Income Bracket

Rationale: Simplifies the target variable.

In [350]:
#log transformation
data['log_hours_per_week'] = np.log(data['hours_per_week'] + 1)
data

,age,workclass,fnlwgt,education,education_num,occupation,capital_gain,capital_loss,hours_per_week,native_country,...,relationship_ Unmarried,relationship_ Wife,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Male,age_group,income_bracket,log_hours_per_week
0,0.301370,7,0.044302,9,0.800000,1,0.021740,0.0,0.397959,39,...,False,False,False,False,False,True,True,Young,0,0.335013
1,0.452055,6,0.048238,9,0.800000,4,0.000000,0.0,0.122449,39,...,False,False,False,False,False,True,True,Young,0,0.115513
2,0.287671,4,0.138113,11,0.533333,6,0.000000,0.0,0.397959,39,...,False,False,False,False,False,True,True,Young,0,0.335013
3,0.493151,4,0.151068,1,0.400000,6,0.000000,0.0,0.397959,39,...,False,False,False,True,False,False,True,Young,0,0.335013
4,0.150685,4,0.221488,9,0.800000,10,0.000000,0.0,0.397959,5,...,False,True,False,True,False,False,False,Young,0,0.335013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,4,0.166404,7,0.733333,13,0.000000,0.0,0.377551,39,...,False,True,False,False,False,True,False,Young,0,0.320307
32557,0.315068,4,0.096500,11,0.533333,7,0.000000,0.0,0.397959,39,...,False,False,False,False,False,True,True,Young,0,0.335013
32558,0.561644,4,0.094827,11,0.533333,1,0.000000,0.0,0.397959,39,...,True,False,False,False,False,True,False,Young,0,0.335013
32559,0.068493,4,0.128499,11,0.533333,1,0.000000,0.0,0.193878,39,...,False,False,False,False,False,True,True,Young,0,0.177206
32560,0.479452,5,0.187203,11,0.533333,4,0.150242,0.0,0.397959,39,...,False,True,False,False,False,True,False,Young,0,0.335013

In [312]:
#import libraries
from sklearn.ensemble import IsolationForest
import warnings
warnings.filterwarnings('ignore')

In [314]:
#identify and remove outliers
iso_forest = IsolationForest(contamination=0.05)
outliers = iso_forest.fit_predict(data[numerical_features])
data = data[outliers == 1]
data

,age,workclass,fnlwgt,education,education_num,occupation,capital_gain,capital_loss,hours_per_week,native_country,...,relationship_ Unmarried,relationship_ Wife,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Male,age_group,income_bracket,log_hours_per_week
0,0.301370,7,0.044302,9,0.800000,1,0.021740,0.0,0.397959,39,...,False,False,False,False,False,True,True,Young,0,0.335013
1,0.452055,6,0.048238,9,0.800000,4,0.000000,0.0,0.122449,39,...,False,False,False,False,False,True,True,Young,0,0.115513
2,0.287671,4,0.138113,11,0.533333,6,0.000000,0.0,0.397959,39,...,False,False,False,False,False,True,True,Young,0,0.335013
3,0.493151,4,0.151068,1,0.400000,6,0.000000,0.0,0.397959,39,...,False,False,False,True,False,False,True,Young,0,0.335013
4,0.150685,4,0.221488,9,0.800000,10,0.000000,0.0,0.397959,5,...,False,True,False,True,False,False,False,Young,0,0.335013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,4,0.166404,7,0.733333,13,0.000000,0.0,0.377551,39,...,False,True,False,False,False,True,False,Young,0,0.320307
32557,0.315068,4,0.096500,11,0.533333,7,0.000000,0.0,0.397959,39,...,False,False,False,False,False,True,True,Young,0,0.335013
32558,0.561644,4,0.094827,11,0.533333,1,0.000000,0.0,0.397959,39,...,True,False,False,False,False,True,False,Young,0,0.335013
32559,0.068493,4,0.128499,11,0.533333,1,0.000000,0.0,0.193878,39,...,False,False,False,False,False,True,True,Young,0,0.177206
32560,0.479452,5,0.187203,11,0.533333,4,0.150242,0.0,0.397959,39,...,False,True,False,False,False,True,False,Young,0,0.335013

Outliers can skew statistical measures (mean and variance), leading to inaccurate model assumptions and potentially causing overfitting, which results in poor generalization to new data.

In distance-based algorithms, outliers can distort distance calculations, leading to incorrect classifications or cluster assignments, ultimately compromising the model's accuracy and reliability.

In [375]:
!pip install -U ppscore

Requirement already satisfied: ppscore in c:\users\dheni\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in c:\users\dheni\anaconda3\lib\site-packages (from ppscore) (1.5.3)
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in c:\users\dheni\anaconda3\lib\site-packages (from ppscore) (1.2.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dheni\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dheni\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\dheni\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in c:\users\dheni\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\dheni\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dheni\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\dheni\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->ppscore) (1.16.0)

ppscore is not satisfying due to pandas version and it is showing errors when importing ppscore

In [384]:
#correlation 
data.corr

<bound method DataFrame.corr of             age  workclass    fnlwgt  education  education_num  occupation  \
0      0.301370          7  0.044302          9       0.800000           1
1      0.452055          6  0.048238          9       0.800000           4
2      0.287671          4  0.138113         11       0.533333           6
3      0.493151          4  0.151068          1       0.400000           6
4      0.150685          4  0.221488          9       0.800000          10
...         ...        ...       ...        ...            ...         ...
32556  0.136986          4  0.166404          7       0.733333          13
32557  0.315068          4  0.096500         11       0.533333           7
32558  0.561644          4  0.094827         11       0.533333           1
32559  0.068493          4  0.128499         11       0.533333           1
32560  0.479452          5  0.187203         11       0.533333           4

       capital_gain  capital_loss  hours_per_week  native_country  ...  \
0          0.021740           0.0        0.397959              39  ...
1          0.000000           0.0        0.122449              39  ...
2          0.000000           0.0        0.397959              39  ...
3          0.000000           0.0        0.397959              39  ...
4          0.000000           0.0        0.397959               5  ...
...             ...           ...             ...             ...  ...
32556      0.000000           0.0        0.377551              39  ...
32557      0.000000           0.0        0.397959              39  ...
32558      0.000000           0.0        0.397959              39  ...
32559      0.000000           0.0        0.193878              39  ...
32560      0.150242           0.0        0.397959              39  ...

      relationship_ Unmarried  relationship_ Wife  race_ Asian-Pac-Islander  \
0                       False               False                     False
1                       False               False                     False
2                       False               False                     False
3                       False               False                     False
4                       False                True                     False
...                       ...                 ...                       ...
32556                   False                True                     False
32557                   False               False                     False
32558                    True               False                     False
32559                   False               False                     False
32560                   False                True                     False

       race_ Black  race_ Other  race_ White  sex_ Male  age_group  \
0            False        False         True       True      Young
1            False        False         True       True      Young
2            False        False         True       True      Young
3             True        False        False       True      Young
4             True        False        False      False      Young
...            ...          ...          ...        ...        ...
32556        False        False         True      False      Young
32557        False        False         True       True      Young
32558        False        False         True      False      Young
32559        False        False         True       True      Young
32560        False        False         True      False      Young

       income_bracket  log_hours_per_week
0                   0            0.335013
1                   0            0.115513
2                   0            0.335013
3                   0            0.335013
4                   0            0.335013
...               ...                 ...
32556               0            0.320307
32557               0            0.335013
32558               0            0.335013
32559               0            0.177206
32560               0            0.335013

[32561 rows x 30 columns]>